PORT=5000
CLIENT_URL=http://localhost:5000
DB_HOST=crossover.proxy.rlwy.net
DB_PORT=18309
DB_NAME=railway
DB_USER=root
DB_PASSWORD=your_mysql_password
JWT_SECRET=your_jwt_secret_change_me
OPENAI_API_KEY=your_openai_api_key
